
.container1{
 max-width: 1100px;
  height: 600px;
  
}
.imgggg{
     display: flex;
    margin: 10px 10px 10px 10px;
}
.imggger{
width: 850px;
border-radius: 5px;
margin-left: 28px;
}
.imgggerr{
  width: 335px;
  border-radius: 5px;
}