@media(max-width:1200px) {
  .imgggg{
    width: 800px;
    height: 500px;
   
   
    }
}
@media (max-width:1200px) {
  .container1{
    
     
   }
}
.container1{
 max-width: 1100px;
  height: 600px;
  
}
.imgggg{
     display: flex;
    margin: 10px 10px 10px 10px;
    
}
.card{
width: 1250px;
border-radius: 10px;
margin-left: 0px;


}
