.sidebar{
    flex: 1;
    height: 100%;
    
    position:sticky;
    top:50px;
    &_wrapper{
        padding:20px;
        columns: #5555;
    }
    &_menu{
        margin-bottom:10px;
    }
    &_title{
        font-size: 13px;
        color: rgb (187 186 186 0)
    }
    &_list{
        padding: 5px;
    }
    &_listitem{
        padding: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    &_listitem:active,&_listitem:hover{
       background-color:silver;
    }
    &_icon{
        margin-right: 5px;
        font-size: 20px !important;
    }
}